@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: background-color 1s ease-in ;
  font-family: font-generalsans;
}
/*LIGHTMODE*/
.autumn {
  background-color: theme('colors.autumn.primary');
  color: '#000000';
}

.winter {
  background-color: theme('colors.winter.primary');
  color: '#000000';
}

.spring {
  background-color: theme('colors.spring.primary');
  color: '#000000';
}

.summer {
  background-color: theme('colors.summer.primary');
  color: '#000000';
}


/* DARKMODE*/
.autumn.dark {
  background-color: theme('colors.darkautumn.primary');
  color: rgb(255, 255,255);
}

.winter.dark {
  background-color: theme('colors.darkwinter.primary');
  color: rgb(255, 255,255);
}

.spring.dark {
  background-color: theme('colors.darkspring.primary');
  color: rgb(255, 255,255);
}

.summer.dark {
  background-color: theme('colors.darksummer.primary');
  color: rgb(255, 255,255);
}


@layer utilities {
  .menu {
    @apply z-30
  }

  .home-section {
    @apply text-start xl:text-6xl md:text-5xl sm:text-4xl text-3xl
  }

  .title-section {
    @apply text-start xl:text-5xl md:text-4xl sm:text-3xl text-2xl font-generalsans underline underline-offset-8
  }
  
  .paragraph {
    @apply mt-4 text-start xl:text-2xl md:text-xl sm:text-lg text-base/6
  }

  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70% ;
    display: inline-block;
  }
} 