@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: 
    background-color 2s ease-in-out,
    color 1s ease-in-out;
  font-family: font-generalsans;
}
/*LIGHTMODE*/
.autumn {
  background-color: theme('colors.autumn.primary');
  color: '#000000';
  --scroll-track: #f5f5f5;
  --scroll-thumb: theme('colors.autumn.quaternary')
}

.winter {
  background-color: theme('colors.winter.primary');
  color: '#000000';
  --scroll-track: #f5f5f5;
  --scroll-thumb: theme('colors.winter.quaternary')
}

.spring {
  background-color: theme('colors.spring.primary');
  color: '#000000';
  --scroll-track: #f5f5f5;
  --scroll-thumb: theme('colors.spring.quaternary')
}

.summer {
  background-color: theme('colors.summer.primary');
  color: '#000000';
  --scroll-track: #f5f5f5;
  --scroll-thumb: theme('colors.summer.quaternary')
}


/* DARKMODE*/
.autumn.dark {
  background-color: theme('colors.darkautumn.primary');
  color: rgb(255, 255,255);
  --scroll-track: #4c4c4c;
  --scroll-thumb: theme('colors.darkautumn.terciary')
}

.winter.dark {
  background-color: theme('colors.darkwinter.primary');
  color: rgb(255, 255,255);
  --scroll-track: #4c4c4c;
  --scroll-thumb: theme('colors.darkwinter.terciary')
}

.spring.dark {
  background-color: theme('colors.darkspring.primary');
  color: rgb(255, 255,255);
  --scroll-track:#4c4c4c;
  --scroll-thumb: theme('colors.darkspring.terciary')
}

.summer.dark {
  background-color: theme('colors.darksummer.primary');
  color: rgb(255, 255,255);
  --scroll-track: #4c4c4c;
  --scroll-thumb: theme('colors.darksummer.terciary');
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: var(--scroll-track);
} 
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: var(--scroll-thumb);
}


@layer utilities {
  .menu {
    @apply z-30
  }

  .home-section {
    @apply text-start xl:text-6xl md:text-5xl sm:text-4xl text-3xl
  }

  .title-section {
    @apply text-start xl:text-5xl md:text-4xl sm:text-3xl text-2xl font-generalsans underline underline-offset-8
  }
  
  .paragraph {
    @apply mt-4 text-start xl:text-2xl md:text-xl sm:text-lg text-base/6
  }

  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70% ;
    display: inline-block;
  }
} 