@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
/*LIGHTMODE*/
.autumn {
  background-color: theme('colors.autumn.primary');
  color: '#4D4D4D';
}

.winter {
  background-color: theme('colors.winter.primary');
  color: '#4D4D4D';
}

.spring {
  background-color: theme('colors.spring.primary');
  color: '#4D4D4D';
}

.summer {
  background-color: theme('colors.summer.primary');
  color: '#4D4D4D';
}


/* DARKMODE*/
.autumn.dark {
  background-color: theme('colors.darkautumn.primary');
  color: rgb(255, 255,255);
}

.winter.dark {
  background-color: theme('colors.darkwinter.primary');
  color: rgb(255, 255,255);
}

.spring.dark {
  background-color: theme('colors.darkspring.primary');
  color: rgb(255, 255,255);
}

.summer.dark {
  background-color: theme('colors.darksummer.primary');
  color: rgb(255, 255,255);
}


@layer utilities {
  .menu {
    @apply z-30
  }

  .home-section {
    @apply text-start xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans
  }

  .title-section {
    @apply text-start xl:text-5xl md:text-4xl sm:text-3xl text-2xl font-generalsans
  }
  
  .paragraph {
    @apply mt-4 text-start xl:text-2xl md:text-xl sm:text-lg text-base/6
  }

  .waving-hand {
    animation-name: wave-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70% ;
    display: inline-block;
  }
} 